{% extends 'base.html' %}
{% block content %}
<style>
	button{
	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	}
</style>
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->


<div class="card mb-3">
	<div class="card">
	<table class="">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	  <th scope="col" width="120">Product</th>
	  <th scope="col" width="150">Quantity</th>
	  <th scope="col" width="120">Price</th>
	  <th scope="col" width="120">Total Price</th>
	  <th scope="col" class="text-right" width="200"> </th>
	</tr>
	</thead>
	<tbody>
	{% for i in ci %}
	<tr>
		<td>
			<figure class="itemside align-items-center">
				<div class="aside"><a href="{{i.prodt.get_url}}"><img src="{{i.prodt.img.url}}" alt="{{i.prodt.name}}" class="img-sm"></div><a/>
				<figcaption class="info">
					<a href="{{i.prodt.get_url}}" class="title text-dark">{{i.prodt.name | truncatewords:5}}</a>
					<p class="text-muted small">{{i.prodt.desc | truncatewords:5}}</p>
				</figcaption>
			</figure>
		</td>
		<td>
			<div class="price-wrap">
				<var class="price">₹ {{i.prodt.price}}</var>

			</div> <!-- price-wrap .// -->
		</td>
		<td>
			<p><a href="{% url 'add_cart' i.prodt.id %}"><i class="fa fa-plus" style="font-size:13px"></i></a>&nbsp{{i.Quan}}<a href="{% url 'dec_cart' i.prodt.id %}"><i class="fa fa-minus" style="font-size:13px"></i></a></p>
		</td>
		<td>
			<div class="price-wrap">
				<var class="price">₹ {{i.total}}</var>

			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right">
		<a href="{% url 'remove' i.prodt.id %}" class="btn btn-light"> Remove</a>
		</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>

	<div class="card-body border-top">
		<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
	</div> <!-- card-body.// -->

	</div> <!-- card.// -->
		</> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>


<div class="row">
<!--	<aside class="col-md-9">-->
<!-- ============================ COMPONENT 3  ================================= -->

<div class="card mb-3">
	<article class="card-body border-top">

		<dl class="row">
		  <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">{{itc}} items</span></dt>
		  <dd class="col-sm-2 text-right"><strong>₹ {{t}}</strong></dd>

		  <dt class="col-sm-10">Discount: <span class="float-right text-muted">First Purchase Discount</span></dt>
		  <dd class="col-sm-2 text-danger text-right"><strong>₹ 120</strong></dd>

		  <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
		  <dd class="col-sm-2 text-right"><strong>₹ 120</strong></dd>

		  <dt class="col-sm-10">Total:</dt>
		  <dd class="col-sm-2 text-right"><strong class="h5 text-dark">₹ {{t}}</strong></dd>

			<a href="{% url 'pay' %}" class="btn btn-primary btn-block"> Make Purchase </a>
		<a href="{% url 'hm' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</dl>

	</article> <!-- card-body.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 3  ================================= -->

<!--	</aside> &lt;!&ndash; col.// &ndash;&gt;-->

</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
