{% extends 'base.html' %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENTS 1  ================================= -->
<div class="row">
	{% for i in pg.object_list %}
	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap">
				<span class="topbar">
					<span class="badge badge-success"> NEW </span>
				</span>
				<a href="{{i.get_url}}"><img src="{{i.img.url}}"></a>
			</div>
			<figcaption class="info-wrap border-top">
				<a href="{{i.get_url}}" class="title">{{i.name | truncatewords:5}}</a>
					<div class="price-wrap mt-2">
						<small class="price-old">{{i.desc | truncatewords:5}}</small><br>
						<span class="price">₹ {{i.price}}</span>
						
					</div> <!-- price-wrap.// -->
			</figcaption>
		</figure> <!-- card // -->
	</div> <!-- col.// -->
	{% endfor %}
</div>
</section>


<center>
	Page
	{% for p in pg.paginator.page_range %}
	 <a href="?page={{p}}" class="btn btn-light btn-sm" {% if pg.number == p %} active {% endif %}>{{p}}</a>
	{% endfor %}
</center>

{% endblock content %}