{% extends 'base.html' %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENTS 1  ================================= -->
<div class="row">
<!--	<div class="col-md-3">-->
<!--		<figure class="card card-product-grid">-->
<!--			<div class="img-wrap"> <img src="../images/items/5.jpg"> </div>-->
<!--			<figcaption class="info-wrap border-top">-->
<!--				<a href="#" class="title">Bell & Ross Nightlum</a>-->
<!--				<div class="price mt-2">$299.00</div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--			</figcaption>-->
<!--		</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--	</div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--	<div class="col-md-3">-->
<!--		<figure class="card card-product-grid">-->
<!--			<div class="img-wrap">-->
<!--				<img src="../images/items/6.jpg">-->
<!--				<span class="topbar">-->
<!--					<a href="#" class="float-right"><i class="fa fa-heart"></i></a>-->
<!--				</span>-->
<!--				<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
<!--			</div>-->
<!--			<figcaption class="info-wrap border-top">-->
<!--				<a href="#" class="title">Leather Sleeve - Macbook 13’’</a>-->
<!--				<div class="price mt-2">$3753.00</div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--			</figcaption>-->
<!--		</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--	</div> &lt;!&ndash; col.// &ndash;&gt;-->

	{% for i in pg.object_list %}
	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap">
				<span class="topbar">
					<span class="badge badge-success"> NEW </span>
				</span>
				<a href="{{i.get_url}}"><img src="{{i.img.url}}"></a>
			</div>
			<figcaption class="info-wrap border-top">
				<a href="{{i.get_url}}" class="title">{{i.name | truncatewords:5}}</a>
					<div class="price-wrap mt-2">
						<small class="price-old">{{i.desc | truncatewords:5}}</small><br>
						<span class="price">₹ {{i.price}}</span>
						{% if i.stock <= 0 %}
						<h6 style="color:red">Out Of Stock.</h6>
						{% else %}
						<a href="" class="btn btn-sm btn-outline-primary float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
						{% endif %}
					</div> <!-- price-wrap.// -->
			</figcaption>
		</figure> <!-- card // -->
	</div> <!-- col.// -->
	{% endfor %}


<!--	<div class="col-md-3">-->
<!--		<figure class="card card-product-grid">-->
<!--			<div class="img-wrap">-->
<!--				<img src="../images/items/1.jpg">-->
<!--			</div>-->
<!--			<figcaption class="info-wrap border-top text-center">-->
<!--				<small class="text-uppercase font-weight-bolder text-warning">ELECTRONICS</small>-->
<!--				<p><a href="#" class="title">IKEA Poäng Swivel Chair</a></p>-->
<!--			</figcaption>-->
<!--		</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--	</div> &lt;!&ndash; col.// &ndash;&gt;-->
</div>
<!-- ============================ COMPONENTS 1  END .// ================================= -->




<!-- ============================ COMPONENTS 2  ================================= -->
<!--		<div class="row">-->
<!--			<div class="col-md-3">-->
<!--				<a href="#" class="card card-product-grid">-->
<!--					<div class="img-wrap"> <img src="../images/items/1.jpg"> </div>-->
<!--					<figcaption class="info-wrap">-->
<!--						<p class="title text-truncate">Just another long text product name</p>-->
<!--						<small class="text-muted">Sizes: S, M, XL</small>-->
<!--						<div class="price mt-2">$179.00</div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--					</figcaption>-->
<!--				</a> &lt;!&ndash; card // &ndash;&gt;-->
<!--			</div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--		-->
<!--			<div class="col-md-3">-->
<!--				<figure class="card card-product-grid">-->
<!--					<a href="#" class="img-wrap">-->
<!--						<img src="../images/items/3.jpg">-->
<!--					</a>-->
<!--					<figcaption class="info-wrap">-->
<!--						<a href="#" class="title">Fjällräven Kånken Backpack Blue Ridge</a>-->
<!--						<div class="mt-2">-->
<!--							<var class="price">$84.00</var> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--							<a href="#" class="btn btn-sm btn-outline-primary float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>-->
<!--						</div> &lt;!&ndash; action-wrap.end &ndash;&gt;-->
<!--					</figcaption>-->
<!--				</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--			</div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--		-->
<!--			<div class="col-md-3">-->
<!--				<a href="#" class="card card-product-grid">-->
<!--					<div class="img-wrap">-->
<!--						<img src="../images/items/2.jpg">-->
<!--					</div>-->
<!--					<div class="info-wrap text-center ">-->
<!--						<p class="title text-truncate">Bose Headphones 700 best for Gaming</p>-->
<!--						<ul class="rating-stars">-->
<!--							<li style="width:80%" class="stars-active">-->
<!--								<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>-->
<!--							</li>-->
<!--							<li>-->
<!--								<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>-->
<!--							</li>-->
<!--						</ul>-->
<!--						<small class="text-muted">34</small>-->
<!--						<div class="price-wrap mt-2 text-center">-->
<!--							<span class="price">$399.95</span>-->
<!--		-->
<!--						</div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--		-->
<!--					</div>-->
<!--				</a> &lt;!&ndash; card // &ndash;&gt;-->
<!--			</div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--		-->
<!--			<div class="col-md-3">-->
<!--				<figure class="card card-product-grid">-->
<!--					<a href="#" class="img-wrap">-->
<!--						<img src="../images/items/4.jpg">-->
<!--					</a>-->
<!--					<figcaption class="info-wrap">-->
<!--						<a href="#" class="title">Apple Homkit - Ecobee3 Lite Smart Thermostat</a>-->
<!--						<div class="mt-2">-->
<!--							<var class="price">$169.95</var>-->
<!--							<ul class="rating-stars float-right">-->
<!--								<li style="width:80%" class="stars-active">-->
<!--									<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>-->
<!--								</li>-->
<!--								<li>-->
<!--									<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</figcaption>-->
<!--				</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--			</div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--		-->
<!--		</div> &lt;!&ndash; row.// &ndash;&gt;-->
<!--		&lt;!&ndash; ============================ COMPONENTS 2  END .// ================================= &ndash;&gt;-->
<!--		</div> &lt;!&ndash; container .//  &ndash;&gt;-->
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->

<center>
	Page
	{% for p in pg.paginator.page_range %}
	 <a href="?page={{p}}" class="btn btn-light btn-sm" {% if pg.number == p %} active {% endif %}>{{p}}</a>
	{% endfor %}
</center>

{% endblock content %}