{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href="#"><img src="{{pr.img.url}}"></a></div>
</div> <!-- slider-product.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">{{pr.name}}</h2>

<div class="mb-3">
	<var class="price h4">₹ {{pr.price}}</var>

</div> <!-- price-detail-wrap .// -->

<p>{{pr.desc}}</p>


<dl class="row">
  <dt class="col-sm-3">Stocks left</dt>
  <dd class="col-sm-9">{{pr.stock}}</dd>



  <dt class="col-sm-3">Color</dt>
  <dd class="col-sm-9">{{pr.color}}</dd>

  <dt class="col-sm-3">Availability</dt>
  <dd class="col-sm-9">{{ pr.available|yesno:"In Stock,Out of Stock" }}</dd>
</dl>

<hr>
	<div class="form-row">
		<div class="form-group col-md flex-grow-0">
		</div> <!-- col.// -->
	</div>



	{% if pr.stock <= 0 %}

	<h1 style="color:red"> Sorry, This Product is Out Of Stock.</h1>
	{% else %}
	<a href="{% url 'add_cart' pr.id %}" class="btn  btn-primary"> Buy now </a>
	<a href="{% url 'add_cart' pr.id %}" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
	{% endif %}
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div>

{% endblock content %}