{% extends 'base.html' %}
{% block content %}

<div class="card mb-4">
      <div class="card-body">
      <h4 class="card-title mb-4">Payment</h4>
      <form role="form">
<div class="form-group">
<label for="username">Name on card</label>
<input type="text" class="form-control" name="username" placeholder="Ex. John Smith" required="">
</div> <!-- form-group.// -->

<div class="form-group">
<label for="cardNumber">Card number</label>
<div class="input-group">
	<input type="text" class="form-control" name="cardNumber" placeholder="">
	<div class="input-group-append">
		<span class="input-group-text">
			<i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
			<i class="fab fa-cc-mastercard"></i>
		</span>
	</div>
</div> <!-- input-group.// -->
</div> <!-- form-group.// -->

<div class="row">
    <div class="col-md flex-grow-0">
        <div class="form-group">
            <label><span class="hidden-xs">Expiration</span> </label>
        	<div class="form-inline" style="min-width: 220px">
        		<select class="form-control" style="width:100px">
				  <option>MM</option>
				  <option>01 - January</option>
				  <option>02 - February</option>
				  <option>03 - March</option>
				 <option>04 - April</option>
				 <option>05 - May</option>
				 <option>06 - June</option>
				 <option>07 - July</option>
				 <option>08 - August</option>
				 <option>09 - September</option>
				 <option>10 - October</option>
				 <option>11 - November</option>
				 <option>12 - December</option>

				</select>
	            <span style="width:20px; text-align: center"> / </span>
	            <select class="form-control" style="width:100px">
				  <option>YY</option>
				  <option>2018</option>
				  <option>2019</option>
					<option>2020</option>
					<option>2021</option>
					<option>2022</option>
					<option>2023</option>
					<option>2024</option>
					<option>2025</option>
					<option>2026</option>
					<option>2027</option>
					<option>2028</option>
					<option>2029</option>
					<option>2030</option>
				</select>
        	</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
            <input class="form-control" required="" type="text">
        </div> <!-- form-group.// -->
    </div>
</div> <!-- row.// -->

<p class="alert alert-success"> <i class="fa fa-lock"></i> Some secureity information Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
<button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
</form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
{% endblock content %}